.episodes {
  margin-top: 50px;
  overflow-y: auto;
  height: 600px;
  @media (max-width: 768px) {
    margin-left: 10px;
    margin-top: 0;
  }

  .episodeItem {
    border-radius: 10px;
    color: rgb(73, 98, 210);
    cursor: pointer;
    border: 1px solid rgb(73, 98, 210, 0.8);
    padding: 10px;
    margin: 10px;

    &:hover {
      background-color: rgb(108, 127, 214);
      border: 1px solid rgb(108, 127, 214);
      color: white;
    }
  }
}
