.headerContainer {
  width: 100%;
  background-color: rgba(94, 91, 253, 0.066);

  .header {
    @media (max-width: 768px) {
      flex-direction: column;
      height: 100%;
      padding-bottom: 20px;
    }
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    span {
      color: rgb(73, 98, 210);
    }
  }
}
