body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafcfd;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.home {
  max-width: 1200px;
  margin: auto;
  display: flex;

  .Home-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.Home-name {
  margin: 50px;
}

.ant-collapse-header {
  &:hover {
    background-color: rgb(73, 98, 210);
    color: white;
  }
  color: rgb(73, 98, 210);
}

.ant-collapse-header-text {
  color: rgb(73, 98, 210);
  &:hover {
    color: white;
  }
}

.ant-collapse-arrow {
  opacity: 0;
}

.ant-collapse-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    &:hover {
      background-color: rgb(73, 98, 210);
      color: white;
    }
    cursor: pointer;
    border-radius: 5px;
    color: rgb(73, 98, 210);
    border: 1px solid rgb(73, 98, 210);
    height: 30px;
    margin: 5px;
    width: 80%;
  }
}

.clear-button {
  &:hover {
    background-color: rgb(73, 98, 210);
    color: white;
  }
  cursor: pointer;
  color: rgb(73, 98, 210);
  border-radius: 5px;
  border: 1px solid rgba(73, 98, 210, 0.139);
  height: 30px;
  margin-top: 10px;
  width: 100%;
}

.fullcard-container {
  max-width: 1200px;
  margin: auto;

  .fullcard-flex {
    @media (max-width: 768px) {
      flex-direction: column;
    }
    display: flex;
    justify-content: center;
    margin: auto;

    img {
      padding-bottom: 10px;
    }
  }

  .fullcard-item {
    margin: 3px;
    padding: 2px;
  }

  .div-link {
    span {
      color: rgb(73, 98, 210);
      font-weight: 600;
      margin-left: 10px;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 3px;
      background-color: rgba(73, 98, 210, 0.103);
      border-radius: 20px;

      &:hover {
        background-color: rgba(73, 98, 210, 0.746);
        color: white;
      }
    }
  }

  .fullcard-button {
    font-size: 16px;
    display: block;
    cursor: pointer;
    background-color: rgb(73, 98, 210, 0.8);
    color: white;
    border: none;
    margin-top: 10px;
    padding: 5px;
    border-radius: 10px;
    width: 150px;

    &:hover {
      background-color: rgb(73, 98, 210);
    }
  }
}
